body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #175a33;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #0bad4f;
}

.container p a {
    color: #fff;
    background-color: #175a33;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.container p a:hover {
    background-color: #0bad4f;
}